.container {
  margin-top: 12%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgb(255,255,255);
  background: radial-gradient(circle, rgb(199, 243, 241) 1%, rgba(0,182,245,1) 40%);
}

.resContainer {
  margin-top: 3vh;
  display: inline-flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 20vh;
  font-size: x-large;
}

.title {
  position: relative;
  font-size: 3em;
  font-weight: 800;
  margin-bottom: 1em
}

.tickerForm {
  width: 50vh;
  display: flex;
  flex-direction: column;
}

.tickerFormSelect {
  align-self: center;
  margin-bottom: 2vh;
  width: 80%;
  border-radius: 5px;
  background-color: white;
}

.tickerForm button {
  margin-top: 2vh;
  width: 50vh;
}

.nameName {
  font-size: 2em;
  text-align: center;
}

.nameTicker {
  font-size: 1em;
  text-align: center;
}

.buy {
  font-size: 2em;
  text-align: center;
  color: green;
}

.sell {
  font-size: 2em;
  text-align: center;
  color: red;
}

.uncertain {
  font-size: 2em;
  text-align: center;
  color: gold;
}

.hiddenText {
  display: none;
}

.infoHeader {
  font-size: x-large;
  margin-left: 20px;
  font-weight: 500;
}

.infoBody {
  font-size: x-large;
  margin-left: 40px;
}


/* .container {
  padding: 0 2rem;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 300px;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
} */
